/*styles.css*/

body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.discordapp.com/attachments/1105457549030998056/1270481322581692469/image.png?ex=66b3db6f&is=66b289ef&hm=b5fe1be9ddbc99025c4be8144f50b11f744362e4d38a9e1a917ba2544339e70f&');
    margin: auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white; 
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

#survey-form {
    background-color: rgba(0, 0, 0, 0.0);
    padding: 20px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    width: 80%;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff; 
    background-color: #333; 
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline-block;
    color: white; 
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: rgb(250,0,123);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(200,0,123);
}